<!DOCTYPE html>
<html>
    <head>
        <title>Christmas List generator</title>
         <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            #container{
                width: 50%;
                margin: auto;
            }
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
                }

                td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
                }

                tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
    </head>
    <body>
        <div id="container">
            <h1>{{app_title}} Generator</h1>

            
            <!--Form to accept grocery data-->
            <h2>Enter Christmas Item:</h2>
            <form action="/create_list_item" method="POST">
                <input type="text"  name="item_name" class="form-control"   placeholder="Enter Christmas item (ex. Motorcycle)" size="40"><br>
                <input type="number"  name="item_priority" class="form-control"  placeholder="Enter priority 1 - 5" size="60"><br>
                <input type="submit" class="btn btn-primary" value="submit">
            </form>

            <!-- Display Grocery Items -->
            <h2>{{description}}</h2>
            <table style="margin: 20px;">
                    <tr>
                        <th>Christmas Item</th>
                        <th>Priority</th>
                        <th>MODIFY</th>
                    </tr>
                {{#each rows}}
                    <tr>
                        <td contenteditable="true">{{this.item_name}}</td>
                        <td contenteditable="true">{{this.item_priority}}</td>
                        <td>
                            <form action="/update_item" method="POST" style="float: left; margin-right: 4%;">
                                <button name="updaterecordID" id="updatenow" type="submit" class="btn btn-info" value="{{this.itemID}}">UPDATE</button>
                            </form>
                            <form action="/delete_item" method="POST">
                                <button name="deleterecord" id="deletenow" type="submit" class="btn btn-danger" value="{{this.itemID}}">DELETE</button>
                            </form>
                        </td>
                        
                    </tr>
                {{/each}}
            </table>
        </div>
        <script>
            
        </script>
    </body>

</html>